EIDSSAVR/bv.tests/Service References/PortManagement/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetFreePort">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lowerBound" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="upperBound" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreePortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFreePortResult" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>