EIDSSAVR/hmis2eidss.service/Service References/HMIS/CaseRegistrationWcf8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://case.moh.gov.ge/CaseRegistration/Services/CaseRegistrationWcf.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts" />
  <xs:import schemaLocation="http://case.moh.gov.ge/CaseRegistration/Services/CaseRegistrationWcf.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" />
  <xs:import schemaLocation="http://case.moh.gov.ge/CaseRegistration/Services/CaseRegistrationWcf.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Enums" />
  <xs:complexType name="CaseResultContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" base="q1:ExecutionResultContract">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts" minOccurs="0" name="Result" nillable="true" type="q2:CaseContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CaseResultContract" nillable="true" type="tns:CaseResultContract" />
  <xs:complexType name="CasesResultContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" base="q3:ExecutionResultContract">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts" minOccurs="0" name="Result" nillable="true" type="q4:ArrayOfCaseContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CasesResultContract" nillable="true" type="tns:CasesResultContract" />
  <xs:complexType name="ReimbursementStatusResultContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" base="q5:ExecutionResultContract">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Enums" minOccurs="0" name="Result" type="q6:ReimbursementStatusEnums" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReimbursementStatusResultContract" nillable="true" type="tns:ReimbursementStatusResultContract" />
  <xs:complexType name="RequestsResultContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" base="q7:ExecutionResultContract">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts" minOccurs="0" name="Result" nillable="true" type="q8:ArrayOfCaseRequestSearchResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestsResultContract" nillable="true" type="tns:RequestsResultContract" />
</xs:schema>