EIDSSAVR/hmis2eidss.service/Service References/HMIS/CaseRegistrationWcf9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExecutionResultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecutionResultContract" nillable="true" type="tns:ExecutionResultContract" />
  <xs:complexType name="ResultGenericContractOfNullableOflong5F2dSckg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultGenericContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExecutionResultContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultGenericContractOfNullableOflong5F2dSckg" nillable="true" type="tns:ResultGenericContractOfNullableOflong5F2dSckg" />
  <xs:complexType name="ResultGenericContractOfNullableOfboolean5F2dSckg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultGenericContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExecutionResultContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultGenericContractOfNullableOfboolean5F2dSckg" nillable="true" type="tns:ResultGenericContractOfNullableOfboolean5F2dSckg" />
</xs:schema>