EIDSSAVR/hmis2eidss.service/Service References/HMIS/CaseRegistrationWcf10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://case.moh.gov.ge/CaseRegistration/Services/CaseRegistrationWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://case.moh.gov.ge/CaseRegistration/Services/CaseRegistrationWcf.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Enums" />
  <xs:import schemaLocation="http://case.moh.gov.ge/CaseRegistration/Services/CaseRegistrationWcf.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Billing.Contracts" />
  <xs:complexType name="CaseContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GuaranteeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfMessageContract" />
      <xs:element minOccurs="0" name="OrganizationID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseContract" nillable="true" type="tns:CaseContract" />
  <xs:complexType name="ArrayOfMessageContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageContract" nillable="true" type="tns:MessageContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageContract" nillable="true" type="tns:ArrayOfMessageContract" />
  <xs:complexType name="MessageContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CaseID" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Enums" minOccurs="0" name="CaseStatus" type="q1:CaseTypeEnums" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Enums" minOccurs="0" name="CaseType" type="q2:CaseTypeEnums" />
      <xs:element minOccurs="0" name="Commnet" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Billing.Contracts" minOccurs="0" name="CurrentProvider" nillable="true" type="q3:OrganizationContract" />
      <xs:element minOccurs="0" name="DateClosed" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateDifference" type="xs:long" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Billing.Contracts" minOccurs="0" name="DestProvider" nillable="true" type="q4:OrganizationContract" />
      <xs:element minOccurs="0" name="DestTransport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Diagnoses" nillable="true" type="tns:ArrayOfDiagnosisContract" />
      <xs:element minOccurs="0" name="DoctorPersonalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorPosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinalSolution" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GuaranteeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GuardianPerson" nillable="true" type="tns:PersonContract" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="MedicalHistoryNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotifierPerson" nillable="true" type="tns:PersonContract" />
      <xs:element minOccurs="0" name="Parent1Person" nillable="true" type="tns:PersonContract" />
      <xs:element minOccurs="0" name="Parent2Person" nillable="true" type="tns:PersonContract" />
      <xs:element minOccurs="0" name="PatientArrival" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PatientPerson" nillable="true" type="tns:PersonContract" />
      <xs:element minOccurs="0" name="PatientReceiveDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Enums" minOccurs="0" name="PatientStatus" type="q5:PatientStatusEnums" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Enums" minOccurs="0" name="ReimbursementStatus" type="q6:ReimbursementStatusEnums" />
      <xs:element minOccurs="0" name="RequiredTransfer" nillable="true" type="xs:int" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Billing.Contracts" minOccurs="0" name="SourceProvider" nillable="true" type="q7:OrganizationContract" />
      <xs:element minOccurs="0" name="SourceTransport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferLinkID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="TransportPersonPersonalID" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Enums" minOccurs="0" name="VoucherStatus" type="q8:VoucherStatusEnums" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageContract" nillable="true" type="tns:MessageContract" />
  <xs:complexType name="ArrayOfDiagnosisContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiagnosisContract" nillable="true" type="tns:DiagnosisContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiagnosisContract" nillable="true" type="tns:ArrayOfDiagnosisContract" />
  <xs:complexType name="DiagnosisContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingNosologyID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="BillingSubComponentID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Component" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateAdded" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinancingItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancingItemID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="FinancingItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancingOrganization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancingOrganizationID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="FinancingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD10ClassificatorID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ICPC2s" nillable="true" type="tns:ArrayOfICPC2Contract" />
      <xs:element minOccurs="0" name="IClassCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ncsps" nillable="true" type="tns:ArrayOfNcspContract" />
      <xs:element minOccurs="0" name="NosologyID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NosologyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NosologyStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Program" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubComponent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TreatmentEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TreatmentStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiagnosisContract" nillable="true" type="tns:DiagnosisContract" />
  <xs:complexType name="ArrayOfICPC2Contract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ICPC2Contract" nillable="true" type="tns:ICPC2Contract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfICPC2Contract" nillable="true" type="tns:ArrayOfICPC2Contract" />
  <xs:complexType name="ICPC2Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Icpc2Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Icpc2Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Icpc2Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageDiagnosisId" type="ser:guid" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ICPC2Contract" nillable="true" type="tns:ICPC2Contract" />
  <xs:complexType name="ArrayOfNcspContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NcspContract" nillable="true" type="tns:NcspContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNcspContract" nillable="true" type="tns:ArrayOfNcspContract" />
  <xs:complexType name="NcspContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="MessageDiagnosisId" type="ser:guid" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="NcspCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NcspId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="NcspName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NcspContract" nillable="true" type="tns:NcspContract" />
  <xs:complexType name="PersonContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CityzenshipCountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactualAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactualMunicipalityID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="FactualMunicipalityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactualRegionID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="FactualRegionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactualSettlementID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="FactualSettlementName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Insurances" nillable="true" type="tns:ArrayOfPersonInsuranceContract" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RegionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Enums" minOccurs="0" name="Type" type="q9:PersonTypeEnums" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonContract" nillable="true" type="tns:PersonContract" />
  <xs:complexType name="ArrayOfPersonInsuranceContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonInsuranceContract" nillable="true" type="tns:PersonInsuranceContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonInsuranceContract" nillable="true" type="tns:ArrayOfPersonInsuranceContract" />
  <xs:complexType name="PersonInsuranceContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeneficiaryPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancingOrganization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImplementerOrganization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImplementerOrganizationProgram" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceProgramNumber" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonInsuranceContract" nillable="true" type="tns:PersonInsuranceContract" />
  <xs:complexType name="ArrayOfCaseContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CaseContract" nillable="true" type="tns:CaseContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaseContract" nillable="true" type="tns:ArrayOfCaseContract" />
  <xs:complexType name="ArrayOfCaseRequestSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CaseRequestSearchResult" nillable="true" type="tns:CaseRequestSearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaseRequestSearchResult" nillable="true" type="tns:ArrayOfCaseRequestSearchResult" />
  <xs:complexType name="CaseRequestSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exists" type="xs:boolean" />
      <xs:element minOccurs="0" name="GuaranteeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseRequestSearchResult" nillable="true" type="tns:CaseRequestSearchResult" />
</xs:schema>