EIDSSAVR/hmis2eidss.service/Service References/HMIS/CaseRegistrationWcf6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://case.moh.gov.ge/CaseRegistration/Services/CaseRegistrationWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://case.moh.gov.ge/CaseRegistration/Services/CaseRegistrationWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts.Results" />
  <xs:import schemaLocation="http://case.moh.gov.ge/CaseRegistration/Services/CaseRegistrationWcf.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Billing.Contracts.Results" />
  <xs:import schemaLocation="http://case.moh.gov.ge/CaseRegistration/Services/CaseRegistrationWcf.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://case.moh.gov.ge/CaseRegistration/Services/CaseRegistrationWcf.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LoginResult" nillable="true" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q2:guid" />
        <xs:element minOccurs="0" name="caseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts.Results" minOccurs="0" name="GetCaseByIDResult" nillable="true" type="q3:CaseResultContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvidersByPersonalID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q4:guid" />
        <xs:element minOccurs="0" name="personalID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvidersByPersonalIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Billing.Contracts.Results" minOccurs="0" name="GetProvidersByPersonalIDResult" nillable="true" type="q5:OrganizationsResultContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCasesByDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q6:guid" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCasesByDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts.Results" minOccurs="0" name="GetAllCasesByDateRangeResult" nillable="true" type="q7:CasesResultContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilteredCasesByAndDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q8:guid" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="diagnosisCodes" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilteredCasesByAndDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts.Results" minOccurs="0" name="GetFilteredCasesByAndDateRangeResult" nillable="true" type="q10:CasesResultContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReimbursementStatusByCaseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q11:guid" />
        <xs:element minOccurs="0" name="caseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReimbursementStatusByCaseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts.Results" minOccurs="0" name="GetReimbursementStatusByCaseIDResult" nillable="true" type="q12:ReimbursementStatusResultContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateDiffByCaseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q13:guid" />
        <xs:element minOccurs="0" name="caseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateDiffByCaseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" minOccurs="0" name="GetDateDiffByCaseIDResult" nillable="true" type="q14:ResultGenericContractOfNullableOflong5F2dSckg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosingDateDiffByCaseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q15:guid" />
        <xs:element minOccurs="0" name="caseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosingDateDiffByCaseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" minOccurs="0" name="GetClosingDateDiffByCaseIDResult" nillable="true" type="q16:ResultGenericContractOfNullableOflong5F2dSckg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReportingCaseStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q17:guid" />
        <xs:element minOccurs="0" name="caseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReportingCaseStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" minOccurs="0" name="UpdateReportingCaseStatusResult" nillable="true" type="q18:ResultGenericContractOfNullableOfboolean5F2dSckg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCaseSentToReporting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q19:guid" />
        <xs:element minOccurs="0" name="caseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCaseSentToReportingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" minOccurs="0" name="IsCaseSentToReportingResult" nillable="true" type="q20:ResultGenericContractOfNullableOfboolean5F2dSckg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRequestsInCaseByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginTokenId" type="q21:guid" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="requestIds" nillable="true" type="q22:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRequestsInCaseByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Hmis.Contracts.CaseRegistration.Contracts.Results" minOccurs="0" name="SearchRequestsInCaseByIdsResult" nillable="true" type="q23:RequestsResultContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCaseDiagnosisEditted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q24:guid" />
        <xs:element minOccurs="0" name="caseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCaseDiagnosisEdittedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" minOccurs="0" name="IsCaseDiagnosisEdittedResult" nillable="true" type="q25:ResultGenericContractOfNullableOfboolean5F2dSckg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCaseDiagnosisEdittedAfterClosing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q26:guid" />
        <xs:element minOccurs="0" name="caseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCaseDiagnosisEdittedAfterClosingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" minOccurs="0" name="IsCaseDiagnosisEdittedAfterClosingResult" nillable="true" type="q27:ResultGenericContractOfNullableOfboolean5F2dSckg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCostEditedLaterThenNHoursIfTransferr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q28:guid" />
        <xs:element minOccurs="0" name="caseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hours" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCostEditedLaterThenNHoursIfTransferrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" minOccurs="0" name="IsCostEditedLaterThenNHoursIfTransferrResult" nillable="true" type="q29:ResultGenericContractOfNullableOfboolean5F2dSckg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiagChangeDiffFromDischarge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loginToken" type="q30:guid" />
        <xs:element minOccurs="0" name="caseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiagChangeDiffFromDischargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Hmis.Contracts.Common.Contracts" minOccurs="0" name="GetDiagChangeDiffFromDischargeResult" nillable="true" type="q31:ResultGenericContractOfNullableOflong5F2dSckg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>