EIDSSAVR/bv.tests/Service References/ReportPdfService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eidss.model.Reports.IQ" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.IQ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8097/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Enums" />
  <xs:import schemaLocation="http://localhost:8097/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" />
  <xs:complexType name="SituationOnInfectiousDiseasesSurrogateModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" base="q1:BaseIntervalModel">
        <xs:sequence>
          <xs:element name="_x003C_PeriodNumber_x003E_k__BackingField" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eidss.model.Enums" name="_x003C_PeriodType_x003E_k__BackingField" type="q2:StatisticPeriodType" />
          <xs:element name="_x003C_RegionId_x003E_k__BackingField" nillable="true" type="xs:long" />
          <xs:element name="_x003C_RegionName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_Year_x003E_k__BackingField" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SituationOnInfectiousDiseasesSurrogateModel" nillable="true" type="tns:SituationOnInfectiousDiseasesSurrogateModel" />
</xs:schema>