EIDSSAVR/eidss.webclient/Service References/ReportService/item14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8097/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" />
  <xs:import schemaLocation="http://localhost:8097/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Hum60BJournalModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" base="q1:BaseIntervalModel">
        <xs:sequence>
          <xs:element name="_x003C_Diagnosis_x003E_k__BackingField" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Hum60BJournalModel" nillable="true" type="tns:Hum60BJournalModel" />
  <xs:complexType name="MonthInfectiousDiseaseModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" base="q2:VersionedDateModel">
        <xs:sequence>
          <xs:element name="_x003C_AddSignature_x003E_k__BackingField" type="xs:boolean" />
          <xs:element name="_x003C_RayonFilter_x003E_k__BackingField" nillable="true" type="tns:RayonModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MonthInfectiousDiseaseModel" nillable="true" type="tns:MonthInfectiousDiseaseModel" />
  <xs:complexType name="RayonModel">
    <xs:sequence>
      <xs:element name="_x003C_IsCurrentRayonSelected_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_RegionRayonComplexId_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RayonModel" nillable="true" type="tns:RayonModel" />
  <xs:complexType name="IntermediateInfectiousDiseaseSurrogateModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" base="q3:BaseIntervalModel">
        <xs:sequence>
          <xs:element name="_x003C_RayonId_x003E_k__BackingField" nillable="true" type="xs:long" />
          <xs:element name="_x003C_RayonName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_RegionId_x003E_k__BackingField" nillable="true" type="xs:long" />
          <xs:element name="_x003C_RegionName_x003E_k__BackingField" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntermediateInfectiousDiseaseSurrogateModel" nillable="true" type="tns:IntermediateInfectiousDiseaseSurrogateModel" />
  <xs:complexType name="AnnualInfectiousDiseaseModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" base="q4:BaseYearModel">
        <xs:sequence>
          <xs:element name="_x003C_RayonFilter_x003E_k__BackingField" nillable="true" type="tns:RayonModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnnualInfectiousDiseaseModel" nillable="true" type="tns:AnnualInfectiousDiseaseModel" />
  <xs:complexType name="ComparativeGGSurrogateModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" base="q5:BaseModel">
        <xs:sequence>
          <xs:element name="_x003C_EndMonth_x003E_k__BackingField" nillable="true" type="xs:int" />
          <xs:element name="_x003C_RayonId_x003E_k__BackingField" nillable="true" type="xs:long" />
          <xs:element name="_x003C_RayonName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_RegionId_x003E_k__BackingField" nillable="true" type="xs:long" />
          <xs:element name="_x003C_RegionName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_StartMonth_x003E_k__BackingField" nillable="true" type="xs:int" />
          <xs:element name="_x003C_Year1_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_Year2_x003E_k__BackingField" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComparativeGGSurrogateModel" nillable="true" type="tns:ComparativeGGSurrogateModel" />
  <xs:complexType name="ComparativeGGSeveralYearsSurrogateModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" base="q6:BaseModel">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_CounterIds_x003E_k__BackingField" nillable="true" type="q7:ArrayOfstring" />
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_DiagnosesIds_x003E_k__BackingField" nillable="true" type="q8:ArrayOfstring" />
          <xs:element name="_x003C_DiagnosesName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_RayonId_x003E_k__BackingField" nillable="true" type="xs:long" />
          <xs:element name="_x003C_RayonName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_RegionId_x003E_k__BackingField" nillable="true" type="xs:long" />
          <xs:element name="_x003C_RegionName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_Year1_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_Year2_x003E_k__BackingField" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComparativeGGSeveralYearsSurrogateModel" nillable="true" type="tns:ComparativeGGSeveralYearsSurrogateModel" />
  <xs:complexType name="HumanLabSampleModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" base="q9:BaseModel">
        <xs:sequence>
          <xs:element name="_x003C_FirstName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_SampleId_x003E_k__BackingField" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HumanLabSampleModel" nillable="true" type="tns:HumanLabSampleModel" />
  <xs:complexType name="RBESurrogateModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" base="q10:BaseYearQuarterModel">
        <xs:sequence>
          <xs:element name="_x003C_AddSignature_x003E_k__BackingField" type="xs:boolean" />
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Rayons_x003E_k__BackingField" nillable="true" type="q11:ArrayOfstring" />
          <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Regions_x003E_k__BackingField" nillable="true" type="q12:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RBESurrogateModel" nillable="true" type="tns:RBESurrogateModel" />
  <xs:complexType name="VetLaboratoryResearchResultModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" base="q13:BaseModel">
        <xs:sequence>
          <xs:element name="_x003C_CaseId_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_ConditionSampleReceived_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_RegistrationNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_ResultRecipient_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_SessionId_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_cbConditionSampleReceived_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_cbReportSource_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_idReportSource_x003E_k__BackingField" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VetLaboratoryResearchResultModel" nillable="true" type="tns:VetLaboratoryResearchResultModel" />
</xs:schema>