EIDSSAVR/EIDSS.Setup/CustomActions.Web/Service References/AVRService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8071/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eidss.model.AVR.ServiceData" />
  <xs:import schemaLocation="http://localhost:8071/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetCachedQueryTableHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryId" type="xs:long" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isArchive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCachedQueryTableHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eidss.model.AVR.ServiceData" minOccurs="0" name="GetCachedQueryTableHeaderResult" nillable="true" type="q1:TableHeaderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCachedQueryTablePacket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryCacheId" type="xs:long" />
        <xs:element minOccurs="0" name="packetNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCachedQueryTablePacketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eidss.model.AVR.ServiceData" minOccurs="0" name="GetCachedQueryTablePacketResult" nillable="true" type="q2:TablePacketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidateQueryCacheForLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryId" type="xs:long" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidateQueryCacheForLanguageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidateQueryCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidateQueryCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetServiceVersionResult" nillable="true" type="q3:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryRefreshDateTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryId" type="xs:long" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryRefreshDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQueryRefreshDateTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>