EIDSSAVR/EIDSS.Setup/CustomActions.Web/Service References/AVRService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eidss.model.AVR.ServiceData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eidss.model.AVR.ServiceData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TableHeaderDTO">
    <xs:sequence>
      <xs:element name="_x003C_BinaryHeader_x003E_k__BackingField" nillable="true" type="tns:TablePacketDTO" />
      <xs:element name="_x003C_PacketCount_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_QueryCacheId_x003E_k__BackingField" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableHeaderDTO" nillable="true" type="tns:TableHeaderDTO" />
  <xs:complexType name="TablePacketDTO">
    <xs:sequence>
      <xs:element name="_x003C_BinaryBody_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
      <xs:element name="_x003C_IsArchive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_RowCount_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TablePacketDTO" nillable="true" type="tns:TablePacketDTO" />
</xs:schema>