EIDSSAVR/eidss.model.customization/Service References/Azerbaijan/IdentityService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EHealthSurrogateLibrary.Catalogs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EHealthSurrogateLibrary.Catalogs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BirthCountryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BloodType" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Citizenship" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FactAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactCountryId" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FactDistrictId" type="xs:decimal" />
      <xs:element minOccurs="0" name="FactSetelmentId" type="xs:decimal" />
      <xs:element minOccurs="0" name="FatherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatus" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonUniqueKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterApartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterBuilding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterCountryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterDistrictId" type="xs:decimal" />
      <xs:element minOccurs="0" name="RegisterSetelmentId" type="xs:decimal" />
      <xs:element minOccurs="0" name="RegisterStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
</xs:schema>