EIDSSAVR/vb/EIDSS/EIDSS.RAM_DB/Service References/AVRCacheService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eidss.model.AVR.Db" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eidss.model.AVR.Db" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DatabaseNames">
    <xs:sequence>
      <xs:element name="_x003C_AvrDbName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EidssActualDbName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EidssArchiveDbName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatabaseNames" nillable="true" type="tns:DatabaseNames" />
</xs:schema>